// KingSideBarTop Full Scale
.kingSideBarTop {
    padding: 2vh;
    padding-bottom: 0;

    color: white;

    border: solid 5px rgb(0, 0, 0);
    border-top: solid 0 transparent;
    border-left: solid 0 transparent;
    border-right: solid 0 transparent;

    min-height: 30vh;
    max-height: 30vh;
}

// kingSideBar User Image
.kingSideBarTop__userImage {
    width: 90px;
    height: 90px;

    border: solid 5px rgb(35, 4, 53);

    border-radius: 50%;
}

// Displays the Users first and last name in kingSideBar Top
.kingSideBarTop__userName {
    font-size: 1.3vw;
}

// Update User Link
.updateUserLink {
    color: white;
    text-decoration: none;

    width: fit-content;
}

// Update User Link Hover
.updateUserLink:hover {
    color: white;
    text-decoration: underline;
}

// Delete User Link
.deleteUserLink {
    padding: 0;
    border: solid 0 transparent;

    margin: 0;

    color: white;

    background-color: transparent;
}

// Delete User Link Hover
.deleteUserLink:hover {
    color: white;
    text-decoration: underline;
}