.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.negateTransition {
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

.groupchatMessage {
  position: absolute;
  top: 0;
  left: 50%;
}

.navbar {
  background-color: #330e44;
  min-height: 7vh;
  max-height: 7vh;
  border: solid 5px black;
  border-top: solid 0 transparent;
  border-bottom: solid 0 transparent;
}

.showButton {
  padding: 0;
  border: solid 0 transparent;
  margin: 0;
  color: white;
  background-color: transparent;
}

.showButton:hover {
  color: white;
}

.kingSideBarScroll {
  padding: 1vh 1vw;
  min-height: 70vh;
}

.userContainer {
  background-color: #474747;
  position: relative;
  padding: 1vh 0;
}

.users {
  max-width: 80%;
}

.kingSideBarTitle:nth-of-type(1) {
  margin-top: 0;
}

.kingSideBarTitle {
  font-size: 1.4vw;
  margin-top: 1vh;
  color: white;
  text-decoration: underline;
}

.kingSideBarConversations__container a {
  background-color: #474747;
  margin-bottom: .5vh;
  width: 100%;
  padding: .75vh .5vw;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.kingSideBarConversations__container a:hover {
  background-color: #616161;
  text-decoration: underline;
}

.kingSideBarConversations__container img {
  width: 25px;
  height: 25px;
  border: solid 2px #230435;
  border-radius: 50%;
}

.kingSideBarConversations__container p {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .5vw;
}

.kingSideBarScroll {
  overflow-y: scroll;
}

.addFriendForm {
  position: absolute;
  float: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -7px;
  margin-right: 10px;
}

.addFriendButton {
  padding: 0;
  border: solid 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.4vw;
  color: #0000ca;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.addFriendButton:hover {
  color: blue;
}

.kingMainOverride__inputContainer__messageInputContainer__form textarea {
  height: 100%;
  width: 93%;
  border: solid 0 transparent;
  outline: none;
  resize: none;
}

.kingMainOverride__inputContainer__messageInputContainer__form textarea:active {
  border: solid 0 transparent;
  outline: none;
}

.kingMainOverride__inputContainer__messageInputContainer__form textarea:focus {
  border: solid 0 transparent;
  outline: none;
}

.kingMainOverride__inputContainer__messageInputContainer__form button {
  height: 100%;
  width: 7%;
  background-color: #330e44;
  color: white;
  border: solid 0 transparent;
  border-left: solid 2px black;
}

.kingMainOverride__inputContainer__messageInputContainer__form button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #5e1688;
}

.showButton {
  height: 5vh;
}

.collapseDiv {
  position: relative;
  width: 30vw;
  /* Makes it posible to make contained elements position absolute and still layout properly */
}

.newGroupChatForm {
  position: absolute;
  background-color: #330e44;
  border: solid 4px black;
  z-index: 1001;
  width: 100%;
}

.searchQueryResults {
  max-height: 21vh;
  overflow-y: scroll;
  border-bottom: solid 1px rgba(233, 233, 233, 0.3);
}

.newGroupChatForm hr {
  color: white;
}

.itemContainer {
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.itemContainer label {
  text-align: left;
  margin-left: .5vw;
  color: white;
  max-width: 80%;
  display: block;
}

.addFriendFormSearchQuery {
  position: absolute;
  right: 30px;
}

.itemContainer input {
  position: absolute;
  right: 5px;
}

.addToGroupButton {
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem !important;
}

.collapsing {
  width: 0;
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.upgradeUserForm {
  position: absolute;
  margin-top: 1vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.upgradeUserButton {
  padding: 0;
  background-color: transparent;
  color: white;
  border: 0 solid;
  -webkit-transition: .1s;
  transition: .1s;
}

.upgradeUserButton:hover {
  color: #0d6efd;
}

.removeUserForm {
  position: absolute;
  margin-top: 1vh;
  margin-right: 1.4vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.removeUserButton {
  padding: 0;
  background-color: transparent;
  color: white;
  border: 0 solid;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.removeUserButton:hover {
  color: #b60000;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.leaveGroupchatButton {
  padding: 0;
  border: solid 0;
  background-color: transparent;
  position: absolute;
  right: 20px;
  color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

.leaveGroupchatButton:hover {
  color: #b60000;
}

.messageDeleteForm {
  margin-top: auto;
  margin-bottom: auto;
}

.messageDeleteButton {
  padding: 0;
  border: solid 0;
  position: relative;
  color: #aaaaaa;
  border-radius: 50%;
  background-color: transparent;
  z-index: 4;
  -webkit-transition: .2s;
  transition: .2s;
}

.messageDeleteButton:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #b60000;
  -webkit-filter: drop-shadow(0px 1px 20px #b60000);
          filter: drop-shadow(0px 1px 20px #b60000);
}

.userAddForm {
  margin-top: auto;
  margin-bottom: auto;
}

.messageMenuButtons {
  padding: 0;
  border: solid 0;
  position: relative;
  color: #aaaaaa;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  background-color: transparent;
  z-index: 4;
  -webkit-transition: .2s;
  transition: .2s;
}

.userAddButton {
  font-size: 1.3vw;
}

.userAddButton:hover {
  color: blue;
  -webkit-filter: drop-shadow(0px 5px 20px blue);
          filter: drop-shadow(0px 5px 20px blue);
}

.kingSideBarTop {
  padding: 2vh;
  padding-bottom: 0;
  color: white;
  border: solid 5px black;
  border-top: solid 0 transparent;
  border-left: solid 0 transparent;
  border-right: solid 0 transparent;
  min-height: 30vh;
  max-height: 30vh;
}

.kingSideBarTop__userImage {
  width: 90px;
  height: 90px;
  border: solid 5px #230435;
  border-radius: 50%;
}

.kingSideBarTop__userName {
  font-size: 1.3vw;
}

.updateUserLink {
  color: white;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.updateUserLink:hover {
  color: white;
  text-decoration: underline;
}

.deleteUserLink {
  padding: 0;
  border: solid 0 transparent;
  margin: 0;
  color: white;
  background-color: transparent;
}

.deleteUserLink:hover {
  color: white;
  text-decoration: underline;
}

.allMembersParentContainer {
  margin-left: 700px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.allMembersButton {
  background-color: transparent;
  position: absolute;
  margin-top: -10.5px;
  margin-left: 205px;
  padding: 0;
  border: solid 0;
  color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

.allMembersButton:hover {
  color: #330e44;
}

.allMembersContainer {
  position: absolute;
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  background-color: #330e44;
  padding: 1vh 1vh;
  border: solid 3px black;
  margin-top: 22px;
  right: -250px;
  z-index: 1000;
}

.showAllMembersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.makeAdminBubble {
  background-color: #474747;
  color: black;
  position: absolute;
  border-radius: 5px;
  display: none;
  font-size: 1vw;
  background-color: white;
  padding: .5vh .5vh;
  border: solid 1px black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: -50px;
  margin-top: -34px;
}

.makeAdminBubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -20px;
}

.allMembersItems {
  padding-right: 4vw;
}

.kingContainer {
  width: 100vw;
}

.kingSideBar_general {
  width: 16vw;
  height: 100vh;
  background-color: #330e44;
}

.kingMainOverride, .kingMainOverride__inputContainer, .kingMainOverride__inputContainerHome {
  width: 84vw;
}

.kingMainOverride__inputContainer {
  height: 93vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border: solid 5px black;
}

.kingMainOverride__inputContainerHome {
  height: 93vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border: solid 5px black;
  background-color: white;
}

.kingMainOverride__inputContainer__title {
  height: 6vh;
  border-bottom: solid 5px black;
  margin-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #474747;
  color: white;
  font-size: 1.4vw;
}

.kingMainOverride__messageContainer {
  height: 83vh;
  padding: 3.5vh 2vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: lightgray;
  border-bottom: solid 5px black;
}

.kingMainOverride__inputContainer__messageInputContainer {
  height: 4vh;
  background-color: #dbdbdb;
}

.kingMainOverride__inputContainer__messageInputContainer__form {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: .7vw;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: #474747;
}

.newGroupChatForm::-webkit-scrollbar {
  width: .4vw;
}

.newGroupChatForm::-webkit-scrollbar-track {
  background-color: gray;
}

.newGroupChatForm::-webkit-scrollbar-thumb {
  background-color: black;
}

.newGroupChatForm::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}

.kingSideBarScroll::-webkit-scrollbar {
  width: .2vw;
}

.kingSideBarScroll:hover .kingSideBarScroll::-webkit-scrollbar {
  display: -webkit-box !important;
  display: flex !important;
}

.newGroupChatForm::-webkit-scrollbar-track {
  background-color: gray;
}

.newGroupChatForm::-webkit-scrollbar-thumb {
  background-color: black;
}

.messageContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 55%;
  position: relative;
  border-radius: 5px;
  margin-top: 3.5vh;
  /* margin-bottom: 2.5vh; */
  padding: 1.5vh 2vw;
}

.messageContainer img {
  width: 35px;
  height: 35px;
  border: solid 2px #230435;
  border-radius: 50%;
  position: absolute;
  margin-left: -47.5px;
  margin-top: -25px;
}

.messageContainer p {
  position: absolute;
  margin-top: -31px;
  margin-left: -10px;
  font-size: .85vw;
  color: #afaeae;
}

.sentMessageContainer {
  background-color: #841ebe;
  color: white;
}

.recievedMessageContainer {
  background-color: #c4bebe;
  color: black;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.messageMenuContainer {
  display: none;
  background-color: white;
  border-radius: 4px;
  border: solid 4px black;
  padding: .4vh 1vw;
  font-size: 1.5vw;
  position: absolute;
  top: -57px;
  right: -23px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 2;
}

.messageMenuContainer:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid #ffffff;
  border-bottom: 7.5px solid transparent;
  right: 26px;
  bottom: -14px;
  z-index: 3;
}

.messageMenuContainer:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid #000000;
  border-bottom: 7.5px solid transparent;
  right: 26px;
  bottom: -19px;
  z-index: 1;
}

.messageMenuButton {
  position: absolute;
  background-color: #aaaaaa;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 18px;
  right: 6px;
  padding: 0 .3vh;
  color: black !important;
  cursor: pointer;
}

.messageMenu:hover {
  background-color: #575757;
}

.bubbleShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.convoTitleImg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 2px #330e44;
}

body {
  background-color: #474747;
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Universals Start */
/* Universals End */
/* .kingMainOverride__messageContainer > :nth-child(2) {
    margin-bottom: 2.5vh !important;
} */
/* Universals end */
/* kingSideBar specific scroll bar Start */
/* kingSideBar specific scroll bar End */
/* General scroll bar Start */
/* General scroll bar End */
/*# sourceMappingURL=app.css.map */